.containerCardCar{
    background-color: var(--color-white);
    padding: 3rem;
    border-radius: 0.6rem;
    width: 26rem;

   

    display: flex;
    gap: 3rem;
    align-items: left;
    flex-direction: column;
    
}


.containerCardCar img{
    
    width: 100%;
    object-fit: cover;
    
}

.containerCardCar h2{
    width: 100%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--color-green);
}


.containerCardCar p{
    font-size: 2rem;
}

.containerCardCar span{
    font-size: 1.4rem;
}

.containerCardCar button {
    background-color: var(--color-green-lg);
    color: var(--color-white);
    padding: 1rem;
    border-radius:var(--radius-input);
    border: none;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    
}

.delete{
    padding: 10px!important;
    background-color: transparent!important;
    color: red!important;
    font-size: 1.4rem !important;
    margin-top: -1rem;

}



@media (max-width:768px) {
    .containerCardCar{
        width: 100%;
    }
}