.containerReserva {
    padding: 13rem;
  
}

.containerReserva h1 {
    color: var(--color-green);
    margin-bottom: 3rem;
}

.containerReservaContent {
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}

.containerReserva .dados {
    
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    
}

.containerReserva .dadosLogin,
.containerReserva .dadosPagamento {
    background-color: #fff;
    border-radius: var(--radius-input);
    padding: 4rem;
}

.dadosLogin h2,
.dadosPagamento h2 {
    font-weight: 400;
    margin-bottom: 3rem;
}

.dados form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.formCadastro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}

.dados label span {
    font-size: 1.2rem;
    font-weight: 600;
}

.containerReservaContent > form p {
    font-size: 12px;
}

.dados label input {
    width: 100%;
    padding: 1.4rem;
    border: 0.1rem solid var(--color-bg-gray);
    border-radius: var(--radius-input);
    font-size: 1.6rem;
}

.containerReserva .dadosPagamento {
    border: 0.1rem solid var(--color-green-lg);

}

.dadosPagamento form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}

.dadosPagamento form label:nth-child(1) {
    flex: 1 1 100%;
}

.dadosPagamento form label:nth-child(2) {
    flex: 1 1 40%;
}

.dadosPagamento form label:nth-child(3) {
    flex: 1 1 35%;
}

.containerReservaContent form div input[type="submit"] {
    margin-top: 3rem;
    padding: 1.4rem;
    font-size: 1.6rem;
    border: none;
    border-radius: var(--radius-input);
    background-color: var(--color-green);
    color: white;
    cursor: pointer;
    background-color: var(--color-green-lg);
    width: 30%;	
}

.temConta{
   margin: 1rem;
    
    font-size: 1.6rem;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    
    color: rgb(255, 0, 0);
    cursor: pointer;

}

.containerReserva .confirmacao {
    padding: 4rem 3rem;
    height: fit-content;
    width: 30%;
    min-width: 20rem;
    border-radius: var(--radius-input);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: left;

    
}

.containerReserva .confirmacao img {
    width: 100%;
    height: fit-content;
    margin-bottom: 2rem;
}

.containerReserva .confirmacao p {
    font-weight: 400;
    font-size: 1.4rem;
    color: rgb(55, 55, 55);
}




@media (max-width:768px) {
    .containerReserva {
        padding: 13rem 1.2rem;
    }

    .containerReservaContent {
        flex-direction: column;
    }
    .containerReserva .dados {
        width: 100%;                
    }
    .containerReserva .confirmacao {
        width: 100%;
    }
    
}