.containerHome_banner{
    height: 40rem;
    background-image: url("/banner-home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.containerHome_filter{
    padding-bottom: 3rem;
}

.containerHome_filter > div{
    padding: 6rem;
    width: 80%;
    margin: 0 auto;
    margin-top: -5rem;
    background-color: var(--color-white);
    border-radius: var(--radius-input);

}

.containerHome_filter > div form {
   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1rem;


}

.containerHome_filter > div form label span{
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    
}

.containerHome_filter > div form label input,
.containerHome_filter > div form label select{
    width: 100%;
    padding: 1.2rem;
    border: 0.1rem solid var(--color-bg-gray);
    border-radius: var( --radius-input);
    font-size: 1.6rem;
    color: rgb(112, 112, 112);
    min-width: 15rem;
}  


.containerHome_filter > div > form input[type="submit"]{
    background-color: green;
    color: #fff;
    padding: 1.4rem;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: var(--radius-input);
}


.containerCarros {
    margin: 0 auto;
    padding-bottom: 6rem;
    width: 80%;
}


.containerCarros > h2 {
    font-weight: 400;
    padding: 3rem 0;
    text-align: center;
}


.containerCarros ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 26rem));
    gap: 2rem;
    
    
}


.containerHome_about{
    padding:9rem 16rem;
    text-align: center
    
}


.containerHome_about p{
    line-height: 2.5rem;
    margin-top: 2rem;

}



@media (max-width:768px) {
    .containerHome_banner{
        height: 25rem;
        background-size: contain;
        background-position: center;
        background-color: rgb(16, 106, 16);
    
    }

    .containerHome_filter > div{
        padding: 3rem 2rem;
    }

    .containerCarros ul{
        grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));

    }
}